<!DOCTYPE html>
<html>
  <head>
    <title>The Better</title>
    <link rel="stylesheet" href="/css/main.css" />

    <style>
      #wrap {
        width: 100vw;
        height: 820px;
        display: flex;
      }

      /* #wrap rect {
        display: inline-block;
      } */

      .sideBar {
        width: 260px;
        height: 820px;
        display: block;
        opacity: 0;
      }

      .pallett1 {
        width: 190px;
        height: 600px;
        fill: blanchedalmond;
      }

      .pallett2 {
        fill: chocolate;
        width: 190px;
        height: 200px;
      }

      .sketchBook_box {
        width: 100vw;
        height: 820px;
        fill: rgb(230, 226, 221);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .sketchBook {
        width: 1380px;
        height: 750px;
        fill: #fff;
        border-radius: 10px;
        box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.1);
      }

      .puzzle {
        position: absolute;
        -webkit-user-drag: none;
        fill: #f3722c;
      }
      .puzzle_oper {
        fill: #ffffff;
      }

      .puzzle,
      .puzzle_oper {
        cursor: pointer;
      }
    </style>
  </head>

  <body>
    <% include ./include/header_menu.ejs %>

    <div id="wrap">
      <svg
        width="100%"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <rect class="sketchBook_box"></rect>
        <rect class="sideBar"></rect>
        <rect class="pallett1" x="70" y="20"></rect>
        <g
          width="70"
          height="70"
          transform="translate(110,40)"
          data-id="rootPuzzle"
          data-category="plus"
        >
          <path
            class="puzzle"
            d="M105.4,46.6c3.8,0,7.1,1.5,9.6,4V35.1c0-7-5.8-12.8-12.8-12.8H68.1c2.1-2.4,3.4-5.5,3.4-8.9
		C71.6,6,65.5,0,58.1,0S44.7,6,44.7,13.4c0,3.4,1.3,6.6,3.4,8.9H12.8C5.8,22.4,0,28.1,0,35.1v14.9c2.4-2.1,5.5-3.4,8.9-3.4
		c7.4,0,13.4,6,13.4,13.4c0,7.4-6,13.4-13.4,13.4c-3.4,0-6.6-1.3-8.9-3.4V85c0,7,5.8,12.8,12.8,12.8h35.4c-2.1,2.4-3.4,5.5-3.4,8.9
		c0,7.4,6,13.4,13.4,13.4s13.4-6,13.4-13.4c0-3.4-1.3-6.6-3.4-8.9h34.1c7,0,12.8-5.8,12.8-12.8V69.4c-2.4,2.5-5.8,4-9.6,4
		c-7.4,0-13.4-6-13.4-13.4C92,52.6,98,46.6,105.4,46.6z"
          />
          <path
            class="puzzle_oper"
            d="M74.3,53.5H64.1V43.3c0-3.9-3-7.1-6.6-7.1c-3.6,0-6.6,3.2-6.6,7.1v10.2H40.7c-3.9,0-7.1,3-7.1,6.6
		c0,3.6,3.2,6.6,7.1,6.6h10.2v10.2c0,3.9,3,7.1,6.6,7.1c3.6,0,6.6-3.2,6.6-7.1V66.6h10.2c3.9,0,7.1-3,7.1-6.6
		C81.3,56.4,78.2,53.5,74.3,53.5z"
          />
        </g>
        <g
          transform="translate(110,180)"
          data-id="rootPuzzle"
          data-category="minus"
        >
          <path
            class="puzzle"
            d="M105.4,46.6c3.8,0,7.1,1.5,9.6,4V35.1c0-7-5.8-12.8-12.8-12.8H68.1c2.1-2.4,3.4-5.5,3.4-8.9
		C71.6,6,65.5,0,58.1,0S44.7,6,44.7,13.4c0,3.4,1.3,6.6,3.4,8.9H12.8C5.8,22.4,0,28.1,0,35.1v14.9c2.4-2.1,5.5-3.4,8.9-3.4
		c7.4,0,13.4,6,13.4,13.4c0,7.4-6,13.4-13.4,13.4c-3.4,0-6.6-1.3-8.9-3.4V85c0,7,5.8,12.8,12.8,12.8h35.4c-2.1,2.4-3.4,5.5-3.4,8.9
		c0,7.4,6,13.4,13.4,13.4s13.4-6,13.4-13.4c0-3.4-1.3-6.6-3.4-8.9h34.1c7,0,12.8-5.8,12.8-12.8V69.4c-2.4,2.5-5.8,4-9.6,4
		c-7.4,0-13.4-6-13.4-13.4C92,52.6,98,46.6,105.4,46.6z"
          />
          <path
            class="puzzle_oper"
            d="M81.3,60.1c0,3.6-3.2,6.6-7.1,6.6H40.7c-3.9,0-7.1-3-7.1-6.6c0-3.6,3.2-6.6,7.1-6.6h33.6
		C78.2,53.5,81.3,56.4,81.3,60.1z"
          />
        </g>
        <g
          transform="translate(110,320)"
          data-id="rootPuzzle"
          data-category="multiple"
        >
          <path
            class="puzzle"
            d="M105.4,46.6c3.8,0,7.1,1.5,9.6,4V35.1c0-7-5.8-12.8-12.8-12.8H68.1c2.1-2.4,3.4-5.5,3.4-8.9
		C71.6,6,65.5,0,58.1,0S44.7,6,44.7,13.4c0,3.4,1.3,6.6,3.4,8.9H12.8C5.8,22.4,0,28.1,0,35.1v14.9c2.4-2.1,5.5-3.4,8.9-3.4
		c7.4,0,13.4,6,13.4,13.4c0,7.4-6,13.4-13.4,13.4c-3.4,0-6.6-1.3-8.9-3.4V85c0,7,5.8,12.8,12.8,12.8h35.4c-2.1,2.4-3.4,5.5-3.4,8.9
		c0,7.4,6,13.4,13.4,13.4s13.4-6,13.4-13.4c0-3.4-1.3-6.6-3.4-8.9h34.1c7,0,12.8-5.8,12.8-12.8V69.4c-2.4,2.5-5.8,4-9.6,4
		c-7.4,0-13.4-6-13.4-13.4C92,52.6,98,46.6,105.4,46.6z"
          />
          <path
            class="puzzle_oper"
            d="M66.8,60.1l7.2-7.2c2.7-2.7,2.9-7.1,0.3-9.7c-2.6-2.6-6.9-2.4-9.7,0.3l-7.2,7.2l-7.2-7.2
		c-2.7-2.7-7.1-2.9-9.7-0.3c-2.6,2.6-2.4,6.9,0.3,9.7l7.2,7.2L41,67.3c-2.7,2.7-2.9,7.1-0.3,9.7c2.6,2.6,6.9,2.4,9.7-0.3l7.2-7.2
		l7.2,7.2c2.7,2.7,7.1,2.9,9.7,0.3c2.6-2.6,2.4-6.9-0.3-9.7L66.8,60.1z"
          />
        </g>
        <g
          transform="translate(110,460)"
          data-id="rootPuzzle"
          data-category="div"
        >
          <path
            class="puzzle"
            d="M105.4,46.6c3.8,0,7.1,1.5,9.6,4V35.1c0-7-5.8-12.8-12.8-12.8H68.1c2.1-2.4,3.4-5.5,3.4-8.9
		C71.6,6,65.5,0,58.1,0S44.7,6,44.7,13.4c0,3.4,1.3,6.6,3.4,8.9H12.8C5.8,22.4,0,28.1,0,35.1v14.9c2.4-2.1,5.5-3.4,8.9-3.4
		c7.4,0,13.4,6,13.4,13.4c0,7.4-6,13.4-13.4,13.4c-3.4,0-6.6-1.3-8.9-3.4V85c0,7,5.8,12.8,12.8,12.8h35.4c-2.1,2.4-3.4,5.5-3.4,8.9
		c0,7.4,6,13.4,13.4,13.4s13.4-6,13.4-13.4c0-3.4-1.3-6.6-3.4-8.9h34.1c7,0,12.8-5.8,12.8-12.8V69.4c-2.4,2.5-5.8,4-9.6,4
		c-7.4,0-13.4-6-13.4-13.4C92,52.6,98,46.6,105.4,46.6z"
          />
          <path
            class="puzzle_oper"
            d="M81.3,60.1c0,3.6-3.2,6.6-7.1,6.6H40.7c-3.9,0-7.1-3-7.1-6.6c0-3.6,3.2-6.6,7.1-6.6h33.6
			C78.2,53.5,81.3,56.4,81.3,60.1z"
          />
          <circle class="puzzle_oper" cx="57.5" cy="42.9" r="6.6" />
          <circle class="puzzle_oper" cx="57.5" cy="77.2" r="6.6" />
        </g>
        <rect class="pallett2" x="70" y="620"></rect>
        <g
          transform="translate(110,670)"
          data-id="rootPuzzle"
          data-category="num"
        >
          <path
            class="puzzle"
            d="M105.4,46.6c3.8,0,7.1,1.5,9.6,4V35.1c0-7-5.8-12.8-12.8-12.8H68.1c2.1-2.4,3.4-5.5,3.4-8.9
		C71.6,6,65.5,0,58.1,0S44.7,6,44.7,13.4c0,3.4,1.3,6.6,3.4,8.9H12.8C5.8,22.4,0,28.1,0,35.1v14.9c2.4-2.1,5.5-3.4,8.9-3.4
		c7.4,0,13.4,6,13.4,13.4c0,7.4-6,13.4-13.4,13.4c-3.4,0-6.6-1.3-8.9-3.4V85c0,7,5.8,12.8,12.8,12.8h35.4c-2.1,2.4-3.4,5.5-3.4,8.9
		c0,7.4,6,13.4,13.4,13.4s13.4-6,13.4-13.4c0-3.4-1.3-6.6-3.4-8.9h34.1c7,0,12.8-5.8,12.8-12.8V69.4c-2.4,2.5-5.8,4-9.6,4
		c-7.4,0-13.4-6-13.4-13.4C92,52.6,98,46.6,105.4,46.6z"
          />
        </g>
        <rect class="sketchBook" x="260" rx="20" ry="20"></rect>
        <g class="g_sketch" transform="translate(70,0)"></g>
      </svg>
    </div>
  </body>

  <script src="/js/puzzle_group.js"></script>
</html>
